$primary: var(--l_base);
$white: #ffffff;
$white1: #c4c4c4;
$white2: #fff;

// // black color
$darkBlack: #000;
$darkBlack1: #000000f2;
$darkBlack2: #000000eb;
$black: #00000080;
$black1: rgba(36, 42, 55, 0.6);
$black2: rgba(255, 255, 255, 0.2);
$black3: rgba(255, 255, 255, 0.8);
$black4: #242a37;
$white4: #ffffff;
$black5: #333333;

$black6: rgba(255, 255, 255, 0.5);
$black7: rgba(255, 255, 255, 0.3);
$black8: #666666;
$black9: #20242f;
$black10: #474747;
$black11: #1e2432;
$black12: rgba(255, 255, 255, 0.4);
$black13: #1e2432;
$black14: #000000eb;
$black15: #000000f2;
$black16: #000000;
$black17: #c4c4c4;
$black18: #2c3444;
$black19: #bec2ce;
$black20: #242a37;

$black31: #485164;

// blue
$blue1: var(--l_base);
$blue2: #283b62;
//desktop
$blue4: var(--l_base);
$blue3: #4e586e;
$blue5: #49abf3;
$blue6: rgba(72, 81, 100, 0.4);
$blue33: var(--l_notification);
$blue34: #818ca3;
// yellow
$yellow: var(--l_overlay);

// green
$green: #14af00;
$green1: #51ca31;

// red
$red: #ff0000;
$red1: #ff4a49;

// brown
$brown: #474747;
$brown1: #666666;
$brown2: #8e8e931f;
$brown3: #555;
$brown4: #80858f;

$brown12: rgba(255, 255, 255, 0.5);
$app-color: var(--l_base);
$bg-color: #242a37;
$dark2: #1e2432;